fastapi==0.115.120.1
uvicorn==0.34.2
fastapi-mcp==0.3.4
pydantic==2.11.5
python-dotenv==1.1.0
slack_sdk==3.35.0
httpx==0.28.1
langchain-openai==0.3.18
langchain_core==0.3.63
langgraph==0.4.7
uvicorn[standard]==0.34.2
streamlit==1.45.1
supabase==2.15.2
huggingface_hub==0.32.1
sentence-transformers==4.1.0
transformers==4.52.3
neo4j==5.28.1
langchain==0.3.25
langchain-community==0.3.24
psycopg2-binary==2.9.10
python-json-logger==3.3.0
unstructured[local-inference]==0.17.2
pypdf==5.5.0
tiktoken==0.9.0
langchain-huggingface==0.2.0
GitPython==3.1.44
gunicorn==23.0.0